<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.usts.backend.test.mapper.StudentMapper">
    <insert id="add">
        insert into student (name, age) values (#{name}, #{age})
    </insert>

    <delete id="remove">
        delete from student where id=#{id}
    </delete>

    <update id="update">
        update student
        set name = #{name}, age = #{age}
        where id = #{id}
    </update>

    <select id="getList" resultType="com.usts.backend.test.pojo.Student">
        select * from student limit #{currIndex}, #{pageSize}
    </select>

    <select id="getCount" resultType="Integer">
        select count(*) from student
    </select>

    <select id="find" resultType="com.usts.backend.test.pojo.Student">
        select * from student
        <where>
            <if test="id != ''">
                and id like concat('%',#{id},'%')
            </if>
        </where>
        limit #{currIndex}, #{pageSize}
    </select>

    <select id="getCountOfFind" resultType="Integer">
        select count(*) from student
        <where>
            <if test="id != ''">
                and id like concat('%',#{id},'%')
            </if>
        </where>
    </select>
</mapper>
